.jquery-ui {
    background-color: #B0B0B0;
}
.menu {
    text-align: center;
}
.menu button {
    margin-right: 2px;
    margin-left: 2px;
}
.table{
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid;
    background-color: #FFFFFF;
    border-color: #383838 #989898 #383838 #989898;
    border-spacing: 2px;
    border-collapse: separate;
    
}

td, th{
    border: 1px solid black;
    padding: 2px;
    margin: auto;
}
.date {
    width: 150px;
}

#startDate, #endDate {
    display: inline-block;
    /*margin-left: auto;*/
}

.multipleSelect{
    text-align: center;
}
.dateColumn {
    text-align: right;
    width: 220px;
    margin-right: 25px;
}

.output-box{
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    border: 10px solid;
    border-color: #383838 #989898 #383838 #989898;
    background-color: #000000;
    color:#00FF00;
}
.loading {
    display: block;
    margin: auto;
    max-height: 50px;
    max-width: 50px;
}
