.navBar {
    /*height:30px;*/
    width: auto;
    text-align: center;
    border: 2px solid #0CF;
    background-color:#585858;
    /*vertical-align: middle;*/
}

/*style the main menu*/
.myMenu {
    margin:0;
    padding:5px;
    width: auto;
}

.myMenu li {
    list-style:none;
    display:inline-block;
    padding: 2px;
    /*float:left;*/
    font:15px Arial, Helvetica, sans-serif #111;
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0  #FFF,
                1px -1px 0 #FFF,
                -1px 1px 0 #FFF,
                1px 1px 0 #FFF;
}

.myMenu li a:link, .myMenu li a:visited {
    display:inline-block;
    text-decoration:none;
    background-color:#00CCFF;
    padding: 0.2em 2em;
    margin:0;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    color:#111;
    width:140px;
    text-align: center;
}

.myMenu li a:hover {
    background-color:#00BB00;
}

/*style the sub menu*/
.myMenu li ul {
	position:fixed;
	display:none;
	/*border-top:1px solid #fff;*/
	/*margin-left:1px;*/
	padding:0;
}

.myMenu li ul li {
    width:200px;
    padding:0;
	display:block;
	float:none;
	
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	border: none;
	background-color:#00FF00;
	width:60%;
	text-align: left;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}